<div class="pw-screen-margin">
    <div class="pw-app__text-content">
        <span class="pw-app__title">
            Hello from the other side!!!
        </span>
        <p>
            We are glad to see you there. If you have any suggestion, you can write to us, we are open to suggestions.
            <br> As alumni of Panjab University, we are always up and enthusiastic to do for our University and want to make
            student's life easy and happening at Panjab University.
        </p>
        <p>
            If you have any idea then we have some magical powers to turn it into reality. Even we can polish it in a better way :)
        </p>
        <div class="pw-contact-us">
            <div class="pw-contact-us__form">
                <div class="card">
                    <div class="card-content">
                        <form [formGroup]="contactUsForm" (ngSubmit)="mailUs(contactUsForm.value)" class="col s12">
                            <div class="row">
                                <div class="input-field col m6 s12">
                                    <i class="fa fa-user-circle prefix"></i>
                                    <input formControlName="name" id="name" type="text" class="validate">
                                    <label for="name">Name</label>
                                </div>
                                <div class="input-field col m6 s12">
                                    <i class="fa fa-envelope prefix"></i>
                                    <input formControlName="emailId" id="email" type="email" class="validate">
                                    <label for="email">Email</label>
                                </div>
                                <div class="input-field col s12">
                                    <i class="fa fa-comment-dots prefix"></i>
                                    <textarea formControlName="message" id="message" class="materialize-textarea"></textarea>
                                    <label for="message">Message</label>
                                </div>
                                <button type="submit" [disabled] = "!contactUsForm.valid" class="btn waves-effect waves-light col s3 offset-s9">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="pw-contact-us__address">
                <span class="pw-contact-us__address-title">
                    <i class="fa fa-map-marker-alt"></i>
                    Our Magic Home
                </span>
                <p class="pw-contact-us__address-content">
                    HE-243,
                    <br>Sector-59, Mohali
                    <br>160059
                </p>
                <span class="pw-contact-us__address-title">
                    <i class="fa fa-phone"></i>
                    Talk to Us
                </span>
                <p class="pw-contact-us__address-content">
                    +91-9953-570-640,
                    <br>
                    <b>support@array151.com</b>
                </p>
            </div>
        </div>
    </div>
</div>