<div class="pw-screen-margin">
    <div class="pw-app__title">
        So, What is PuWifi?
    </div>

    <div class="pw-app__text-content">
        
        PuWifi makes Panjab University Chandigarh WiFi (PU@Campus) login/logout much easier. It is quite irritating to enter your
        login details on the “Sign in to Wi-Fi” page whenever you connect to Panjab University Campus WiFi. What’s more difficult
        is remembering those random usernames and passwords every time. Simplicity is the policy - PuWifi App follows the
        moderate UI design, where you just login once with your username and password and let the Wifi App save your account.
        When you are connected to PU@Campus Wi-Fi, you’ll just need to tap on ‘Connect’ button after adding your account
        and you are now connected to Campus Wi-Fi with single tap. Just like that, Disconnecting your account is even easier
        with this app. After you connected, Then ‘Connect’ button will be converted to ‘disconnect’. As soon as you click
        it, you will be successfully disconnected. PuWifi App Auto-Connect Campus Wifi every time when you are in range of
        campus wifi. Download the PuWifi App now and makes your Panjab University Chandigarh Wi-Fi experience much better.
        Best Features : 1. Simple & Interactive User Interface 2. Auto Connect campus wifi 3. Add/Delete Account Details
        4. Easy Connect / Disconnect campus wifi 5. Update Account / Change Password How To Connect : • Instal App • Add
        Account • Connect your phone with PU@Campus Wifi • Tap connect button • Stay Connected :) :)
    </div>

</div>