<div>
    <nav>
        <div class="nav-wrapper pw-screen-margin">
            <a href="#" class="pw-logo">PuWifi</a>
            <ul id="nav-mobile" class="right hide-on-small-and-down">
                <li>
                    <a [routerLink]="['/home']">Home</a>
                </li>
                <li>
                    <a [routerLink]="['/app-events']">App Events</a>
                </li>
                <li>
                    <a [routerLink]="['/about-us']">About Us</a>
                </li>
                <li>
                    <a [routerLink]="['/contact-us']">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="pw-content-area">
    <!-- Router Outlet -->
    <router-outlet></router-outlet>
</div>

<div class="pw-footer">
    <div class="pw-footer__title">
        Follow Us
    </div>
    <div>
        <ul class="pw-footer__social">
            <li>
                <a target="_blank" title="Facebook" href="https://www.facebook.com/ishleenkaurofficial/">
                    <div class="genericon icon-hover genericon-facebook-alt pw-footer__social-icon">
                        <span class="screen-reader-text">Facebook</span>
                    </div>
                </a>
            </li>

            <li>
                <a target="_blank" title="Twitter" href="https://twitter.com/ishleenkaurbti?s=08" class="icon-animation icon-hover-effect">
                    <div class="genericon icon-hover genericon-twitter pw-footer__social-icon">
                        <span class="screen-reader-text">Twitter</span>
                    </div>
                </a>
            </li>

            <li>
                <a target="_blank" title="Email" href=" mailto:info@ishleenkaur.com" class="icon-animation icon-hover-effect">
                    <div class="genericon icon-hover genericon-mail pw-footer__social-icon">
                        <span class="screen-reader-text">Email</span>
                    </div>
                </a>
            </li>

            <li>
                <a target="_blank" title="YouTube" href="https://www.youtube.com/channel/UCNyqZQeomFbw4YpIxW03xxw" class="icon-animation icon-hover-effect">
                    <div class="genericon icon-hover genericon-youtube pw-footer__social-icon">
                        <span class="screen-reader-text">YouTube</span>
                    </div>
                </a>
            </li>

            <li>
                <a target="_blank" title="Instagram" href="https://www.instagram.com/ishleenkaurofficial/" class="icon-animation icon-hover-effect">
                    <div class="genericon icon-hover genericon-instagram pw-footer__social-icon">
                        <span class="screen-reader-text">Instagram</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <div class="pw-footer__copyright">
        Copyright © 2018 PuWifi
        <div style="text-align: center">
            <a href="" target="_blank">Array151</a>
        </div>
    </div>
</div>