.pw-screen-margin {
    margin :0;
}

.pw-logo {
    font-size: 2.1rem;
    padding: 10px;
}

@media only screen and (min-width: 768px) {
    .pw-screen-margin {
        margin :0 15% 0 15%;
    }
}

@media only screen and (max-width: 600px) {
    .pw-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: unset;
    }
}

.pw-content-area {
    padding: 20px;
    line-height: 1.8em;
}

.pw-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:10px;
    padding: 20px;
    background-color:#1e1e1e;
    color:#ddd;
    a{
        color: $primary-color;
    }
    
    .pw-footer__title{
        font-size: 38px;
        font-weight: 400;
    }
    .pw-footer__social{
        display: flex;
    }
    .pw-footer__social-icon {
        background: #b7b7b7;
        width:50px;
        height:50px;
        border-radius: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 25px;
        color:#111;
        margin-right: 5px;
    }
    .pw-footer__social-icon:hover{
        color:#fff;
    }
    .pw-footer__social-icon.fa-facebook-f:hover {
        background-color: #365899;
    }
    .pw-footer__social-icon.fa-twitter:hover {
        background-color: #48AAE6;
    }
    .pw-footer__social-icon.fa-youtube:hover {
        background-color: #FF0000;
    }
    .pw-footer__social-icon.fa-instagram:hover {
        background-color: #d1006c;
    }
}
