<div class="pw-screen-margin">
    <div class="pw-app__text-content">
        <span class="pw-app__title">
            Who we are?
        </span>
        <p>
            We are passout students of Panjab University (Batch'14) who want to contribute to Panjab University and to "Digital India".
            <br> As alumni of Panjab University, we are always up and enthusiastic to do for our University and want to make
            student's life easy and happening at Panjab University.
        </p>
        <p>
            We always aspire to provide the students of PU with our innovative ideas and this is one of the initial step toward this
            goal.
        </p>
        <span class="pw-app__title">
            What we have created so far?
        </span>
        <div class="pw-about-us__app-listing">
            <!-- PuWifi App -->
            <div class="card pw-about-us__app" (click)="openApp('https://play.google.com/store/apps/details?id=com.array151.PuWifi')">
                <div class="card-image">
                    <img src="../../../assets/puwifi.png">
                    <span class="card-title">PuWifi</span>
                </div>
                <div class="card-content">
                    <p>PuWifi is a mobile application for both platforms Android and iOS that enables Panjab University Campus
                        students to connect whith the Campus wifi(PU@Campus).</p>
                </div>
            </div>
            <!-- Appdell Website -->
            <div class="card pw-about-us__app" (click)="openApp('http://www.appdell.com/')">
                <div class="card-image">
                    <img src="../../../assets/appdell.png">
                    <span class="card-title">Appdell</span>
                </div>
                <div class="card-content">
                    <p>AppDell is a team of young engineers who've inspired and innovative minds always crazy about latest technologies
                        to build solutions for end users and customers.</p>
                </div>
            </div>
            <!-- IshleenKaur Website -->
            <div class="card pw-about-us__app" (click)="openApp('http://www.ishleenkaur.com')">
                <div class="card-image">
                    <img src="../../../assets/ishleen_kaur.png">
                    <span class="card-title">Ishleen Kaur</span>
                </div>
                <div class="card-content">
                    <p>Ishleen Kaur was born on 13 June 2001 into a Sikh family in Bathinda, Punjab and she is pure vegetarian
                        (vegan). She started singing when she aged eight.</p>
                </div>
            </div>
            <!-- Array151 Website -->
            <div class="card pw-about-us__app" (click)="openApp('http://www.array151.com')">
                <div class="card-image">
                    <img src="../../../assets/array151.png">
                    <span class="card-title">Array151</span>
                </div>
                <div class="card-content">
                    <p>Results-driven Digital Agency specializing in Web Design, Mobile App Development & Digital Marketing</p>
                </div>
            </div>
        </div>
    </div>
</div>